.header {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: black;
    left: 0px;
    top: 0px;
}

img {
    width: 79px;
    height: 27px;
    padding: 21px 150px;
}

.nav {
    position: relative;
    display: flex;
    align-items: center;
    text-align: right;
    color: #ffffff;
    flex-direction: row;
    flex-flow: row;
    width: 100%;
    justify-content: flex-end;
    font-family:'Open Sans', sans-serif;
}

.nav_link {
    margin: 0 50px;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}
