* {
    padding: 0;
    margin: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

.block-width {
    width: 70em;
    display: flex;
    justify-content: space-between;
}

.header {
    z-index: 1;
    display: flex;
    position: fixed;
    width: 100%;
    background-color: black;
    left: 0px;
    top: 0px;
}

header img {
    width: 79px;
    height: 27px;
    padding: 21px 150px;
}

.nav {
    display: flex;
    align-items: center;
    text-align: right;
    flex-direction: row;
    flex-flow: row;
    width: 100%;
    justify-content: flex-end;
    font-family:'Open Sans', sans-serif;
}

.ul_link {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav_link {
    text-decoration: none;
    color: #ffffff;
    padding: 23px 50px;
}

.topSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("images/backgroundimg.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* margin: 0px -8px; */
}

.sectionDivLeft {
    color: #fff;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.sectionDivLeft img {
    margin-bottom: 0;
}

.sectionDivLeft h1 {
    font-weight: 400;
    margin-bottom: 20px;
}

.sectionDivLeft hr {
    border-top: 2px solid #fff;
    width: 50px;
}

.sectionDivLeft p {
    font-weight: 300;
}

.sectionDivLeft button {
    display: inline-block;
    background: none;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
}

.topSectionDiv {
    margin: 20px 0;
}

.sectionDivRight {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    text-align: center;
}

.sectionDivRightElements {
    margin: 15px 0;
}

.sectionDivRight h1 {
    background-color: #f5f5f5;
    color: #333333;
    padding: 20px;
    margin: 0;
    border-radius: 5px 5px 0px 0px;
}

.sectionDivRight input {
    padding: 10px 0;
}

.colorText {
    color: #ff9b51;
}

.sectionDivRight button {
    background-color: #ff9b51;
    color: #fff;
    text-align: center;
    width: 100%;
    border: none;
    padding: 20px;
    margin: 0;
    border-radius: 0px 0px 5px 5px;
}

input[type=text], input[type=email], input[type=password] {
    font-size: large;
    margin: 20px 0px;
    border-bottom: 1px solid #bdbdbd;
}

button {
    cursor: pointer;
}

.social-media {
    border-bottom: 2px solid #b7b7b7;
}

.social-media-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 10em;
}

.social-media-section {
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px 0 0;
}

.social-media-section h3 {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

.social-media-section p {
    color: #636363;
    font-size: 15px;
}

.social-media i {
    font-size: 40px;
    color: #cccccc;
}

.tabs {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    padding: 100px 0;
}

.tabs-block {
    margin: auto;
}

.tabs-block .tab-btn {
    background-color: #333333;
    display: block;
    padding: 35px 25px;
    color: #fff;
    margin: 1px 0;
    cursor: pointer;
}

.tabs-block .tab-btn:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tabs-block .tab-btn:first-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tabs-block .tab-btn.tab-btn-checked {
    background-color: #ff8b38;
}

.tabs-block-slider {
    height: 200px;
    /* border: 3px solid black; */
    overflow: hidden;
}

.tabs-block-slider-line {
    height: 205px;
    display: flex;
    flex-direction: column;
    top: 0;
    position: relative;
    transition: transform ease .5s;
}

.tabs-block-slider-block {
    height: 205px;
}

.tabs-block-text {
    width: 500px;
}

.tabs div h3 {
    font-weight: bold;
    margin-bottom: 30px;
}

.tabs .tabs-block-text p {
    font-weight: 400;
    color: #8d8e92;
    font-size: 15px;
    margin: 15px 0;
}

.tabs button, .contacts-btn button {
    background-color: #ff8b38;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    margin-top: 30px;
}

.sub-list, .standard-picture {
    margin: auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.sub-list, .standard-picture {
    font-family: 'Open Sans', sans-serif;
}

.sub-list img, .standard-picture img {
    box-shadow: 0px 0px 10px #333333;
    border-radius: 3px;
    height: 303px;
}

.sub-list-block, .standard-picture-block {
    width: 40%;
}

.sub-list-block div {
    display: flex;
}

.sub-list-block h2, .standard-picture-block h2 {
    font-weight: bolder;
    color: #333333;
}

.sub-list-block hr, .standard-picture hr {
    border-top: 2px solid #ff8b38;
    width: 70px;
    margin: 20px 0;
}

.features hr, .pricing hr, .reviews hr, .contact-title hr {
    border-top: 2px solid #ff8b38;
    width: 70px;
    margin: 20px auto;
}

.sub-list-text {
    margin: 30px 0;
}

.sub-list-text div {
    display: flex;
    flex-direction: column;
}

.sub-list-block p, .standard-picture-block p {
    color: #86878b;
    font-weight: 400;
    font-size: 15px;
}

.sub-list-block i {
    color: #ff8b38;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 20px;
    height: 64px;
    width: 64px;
    line-height: 64px;
    text-align: center;
    flex-shrink: 0;
}

.standard-picture-section {
    background-color: #f5f5f5;
}

.features-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 100px 0;
    text-align: center;
}

.features h3, .features h1 {
    font-family: 'Raleway', sans-serif;
    color: #212121;
}

.features hr, .pricing hr, .reviews hr {
    margin: 20px auto;
}

.features-title p {
    margin-bottom: 60px;
}

.features-info {
    display: flex;
    flex-direction: row;
}

.features p {
    font-family: 'Open Sans', sans-serif;
    color: #a4a5a8;
}

.features i {
    font-size: 25px;
    color: #ff8b38;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    margin: 20px 0;
    height: 64px;
    width: 64px;
    line-height: 64px;
    text-align: center;
    flex-shrink: 0;
}

.features-info h3 {
    margin-bottom: 20px;
}

.pricing {
    background-color: #f5f5f5;
    text-align: center;
}

.pricing-block, .reviews-block, .contact-block {
    width: 70em;
    margin: auto;
    padding: 100px 0;
}

.pricing-title, .reviews-title, .contact-title {
    margin-bottom: 70px;
}

.pricing-title p, .reviews-title p, .contact-title p, .footer-block p {
    font-family: 'Open Sans', sans-serif;
    color: #86878b;
}

.pricing h1, .reviews h1, .contact-title h1 {
    font-family: 'Raleway', sans-serif;
    color: #212121;
}

.pricing-info, .reviews-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.pricing-info h2 {
    background-color: #333333;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1px;
    padding: 20px;
}

.pricing-info h3 {
    font-size: 30px;
}

.pricing-info span {
    font-size: 70px;
}

.pricing-info p {
    padding: 10px 50px;
}

.pricing-professional {
    background-color: #333333;
}

.pricing-professional h3 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.pricing-professional p {
    border-bottom: 5px solid #ff8b38;
    font-family: 'Open Sans', sans-serif;
    color: #86878b;
    font-style: italic;
}

.pricing-p-font {
    font-family: 'Open Sans', sans-serif;
    color: #86878b;
}

.pricing-p-font h4 {
    color: white;
    background-color: #ff8b38;
    border-bottom: 5px solid #ff8b38;
}

.pricing-p-font p {
    border-bottom: 2px solid #f5f5f5;
    background-color: #fff;
}

.reviews {
    font-family: 'Open Sans', sans-serif;
}

.reviews-title, .contact-title {
    text-align: center;
}

.smbd-review-text {
    /* background-image: url('images/u229.png'); */
    background-color: #f5f5f5;
    padding: 25px 15px;
    margin: 20px;
    border-radius: 3px;
    font-style: italic;
    color: #86878b;
    position: relative;
}

.smbd-review-text::before {
    content: '';
    z-index: -1;
    position: absolute;
    background-color: #f5f5f5;
    width: 30px;
    height: 30px;
    top: 100%;
    left: 10%;
    transform: rotate(45deg) skew(10deg, 10deg) translate(-95%);
}

.smbd-review-info {
    margin: 0 20px;
    display: flex;
}

.smbd-review-info div {
    padding: 10px;
}

.smbd-review-info h2 {
    font-weight: bold;
    color: #212121;
}

.smbd-review-info p {
    font-weight: 400;
    color: #86878b;
}

.stylish-design {
    background-color: black;
    background-image: url('images/u25_state0.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
}

.stylish-design-block {
    width: 70em;
    margin: auto;
    padding: 80px 0;
}

.stylish-design-block h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.stylish-design-block hr {
    border-top: 2px solid #fff;
    width: 70px;
    margin: 40px auto;
}

.stylish-design-block p {
    font-family: 'Raleway', sans-serif;
    color: #b2aea8;
    font-weight: 300;
}

.stylish-design-block button {
    font-family: 'Open Sans', sans-serif;
    background: none;
    color: #fff;
    margin-top: 40px;
    padding: 10px 30px;
    border: 2px solid #fff;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contacts-block {
    display: flex;
    flex-direction: column;
}

.contacts textarea {
    font-family: 'Open Sans', sans-serif;
    resize: none;
}

.contacts input, .contacts textarea {
    width: 500px;
    font-size: large;
    margin: 20px 0px;
    padding: 5px 15px;
    border-bottom: 1px solid #bdbdbd;
}

.contacts textarea {
    vertical-align: top;
}

.contacts-btn {
    display: flex;
    justify-content: center;
}

footer {
    background-color: black;
    text-align: center;
}

.footer-block i {
    color: #fff;
    font-size: 25px;
    padding: 20px;
}

.footer-block p {
    font-size: 15px;
    padding-bottom: 15px;
}
